<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-PPCInAppBrowser" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>PPCInAppBrowser</name><js-module name="PPCInAppBrowser" src="www/PPCInAppBrowser.js"><clobbers target="cordova.plugins.PPCInAppBrowser" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="PPCInAppBrowser"><param name="ios-package" value="PPCInAppBrowser" /></feature></config-file><source-file src="src/ios/PPCInAppBrowser.m" /></platform></plugin>